body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: large;
  background-color: #1d1d1d;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 800px;
  min-width: 500px;
}

.headerLeft {
  flex: 1;
  padding: 1rem;
}

.headerMiddle {
  flex: 1;
  padding: 1rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  color: rgb(73, 255, 97);
  transition: text-shadow 0.5s ease, scale 0.1s ease;
  animation: glow 3s infinite;
}
.headerMiddle:hover {
  scale: 110%;
}

.headerRight {
  flex: 1;
  padding: 1rem;
  text-align: right;
}

@keyframes glow {
  0% {
    text-shadow: 0 0 0;
  }
  50% {
    text-shadow: 0 0 20px rgb(30, 255, 0);
  }
  100% {
    text-shadow: 0 0 0;
  }
}
.content {
  max-width: 800px;
  min-width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.seachUl {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

li {
  position: relative;
  padding: 20px;
  width: 28%;
  cursor: pointer;
  animation: flyUp 0.5s ease-in-out both;
}
li:hover .closeButton {
  visibility: visible;
}

.seachLi {
  width: 70%;
}

.searchItems {
  width: 30%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

aside {
  min-width: 400px;
  align-items: center;
  padding: 1rem;
}

.closeButton {
  z-index: 2;
  position: absolute;
  padding: 5px;
  top: 5px;
  right: 5px;
  visibility: hidden;
  cursor: pointer;
  font-size: large;
  background-color: rgb(54, 54, 54);
  border-radius: 5px;
}
.closeButton:hover {
  background-color: rgb(85, 85, 85);
}

.addButton {
  position: absolute;
  top: 5px;
  left: 25px;
  visibility: hidden;
  cursor: pointer;
  font-size: 50px;
}

img {
  width: 100%;
  border-radius: 8px;
}

a {
  color: white;
  text-decoration: none;
}
a:hover {
  color: #1ee21e;
}
a:active {
  opacity: 50%;
}
a:hover .addButton {
  visibility: visible;
}
a:hover img {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.205);
}

@keyframes flyUp {
  from {
    transform: translateY(50px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
.artist {
  color: rgb(173, 173, 173);
  font-size: 1rem;
}

button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: background-color 0.1s ease, padding 0.1s ease;
  background-color: #13be21;
  color: #fff;
}
button:hover {
  background-color: #0f8b2e;
  padding: 10px 25px;
}
button:active {
  background-color: rgb(12, 102, 21);
}

input {
  padding: 7px 10px;
  font-size: 16px;
  border: 3px solid rgb(255, 255, 255);
  border-radius: 10px;
  border-color: #ffffff;
  outline: none;
  background-color: #ffffff;
  transition: border-color 0.3s ease;
  margin: 5px;
}
input:focus {
  border-color: #1ee21e;
}

.searchBubble {
  margin-bottom: 0;
  padding: 10px;
  border-radius: 30px;
  text-align: center;
}

form div {
  margin: 10px 0;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

th, td {
  padding: 8px;
  text-align: left;
}

th {
  background-color: rgb(82, 20, 20);
  color: white;
}

tbody tr:hover {
  background-color: rgba(245, 245, 245, 0.062);
}/*# sourceMappingURL=index.css.map */