body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  font-size: large;
  background-color: #1d1d1d;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  max-width: 800px;
  min-width: 500px;
}

.headerLeft {
  flex: 1;
  padding: 1rem;
}
.headerMiddle {
  flex: 1;
  padding: 1rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
}
.headerRight {
  flex: 1;
  padding: 1rem;
  text-align: right;
}

.content {
  max-width: 800px;
  min-width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

ul {
  list-style: none;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

li {
  padding: 1rem;
  width: 23%;
  cursor: pointer;
}

img {
  width: 200px;
}

a {
  color: white;
  text-decoration: none;

  &:hover {
    opacity: 75%;
  }

  &:active {
    opacity: 50%;
  }
}
